{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "import/no-unresolved": ["error", { "caseSensitive": true }],
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-named-as-default-member": "warn",
    "import/no-extraneous-dependencies": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
