@use "./Colors.scss";

.advert-section {
    width: 100%;
    border: 5px solid #4C94E7;
    background: #D8D8D8;
    height: 100px;
    text-align: center;

    span {
        font-weight: semibold;
        color: Colors.$dark-gray-color;
        user-select: none;
        position: relative;
        top: 40px;
    }
}